@import '/styles/main.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media all and (width >= $min_desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include fontRegular(14px, 600, 20px, $main_text_color);
  @media all and (width >= $min_desktop) {
    width: calc((100% - 24px) / 2);
  }
}

.input {
  border: 1px solid $accent_v2;
  border-radius: 14px;
  padding: 10px 12px;
  width: 100%;
  height: 44px;
  background-color: transparent;
  @include fontRegular(14px, 600, 20px);
  &::placeholder {
    @include fontRegular(14px, 600, 20px, $form_placeholder);
  }
}

.error {
  @include fontRegular(12px, 400, 18px, #ff4d4f);
}
