@import '/styles/main.scss';

.main_wrapper {
  margin-bottom: 48px;
  @media all and (min-width: $min_tablet) {
    margin-bottom: 100px;
  }
}

.title {
  @include fontRegular(24px, 400, 30px, $main_text_color, center);
  margin-bottom: 48px;
  @media all and (min-width: $min_tablet) {
    font-size: 28px;
  }
}

.graph_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @media all and (min-width: $min_desktop) {
    width: 736px;
    margin-inline: auto;
  }
}

.graph {
  width: 328px;
  height: 337px;
  @media all and (min-width: $min_tablet) {
    width: 638px;
    height: 636px;
  }
}
