@import '/styles/main.scss';

.wrapper {
  @media all and (min-width: $min_desktop) {
    grid-area: 1 / 2 / 5 / 3;
  }
}

.title {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
  @media all and (min-width: $min_tablet) {
    font-size: 28px;
    margin-bottom: 48px;
  }
}

.name_list {
  display: flex;
  margin: 0 auto;
  border: 1px solid $matrix_table_border;
  @media all and (min-width: $min_tablet) {
    width: 625px;
  }
}

.name_list_element {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $additional_bg;
  flex: 1;
  border-left: 1px solid $matrix_table_border;
  height: 44px;
  @media all and (min-width: $min_tablet) {
    height: 50px;
  }
}

.column_name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.4 !important;
  color: $third_text_color !important;
  text-align: center !important;
  width: 44px;
  height: 100%;
  &:last-child {
    width: 64px;
    border-left: 1px solid $matrix_table_border;
    @media all and (min-width: $min_tablet) {
      width: 116px;
    }
  }
  @media all and (min-width: $min_tablet) {
    width: 90px;
    font-size: 18px !important;
  }
  @media all and (min-width: $min_desktop) {
  }
}

//period

.period_table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 758px;
  margin: 0 auto;
  border: 0.5px solid $matrix_table_border;
  @media all and (min-width: $min_tablet) {
    max-height: 864px;
    width: 625px;
  }
}

.period_table_element {
  display: flex;
  align-items: center;
  height: 34px;
  border-bottom: 0.5px solid $matrix_table_border;
  @media all and (min-width: $min_tablet) {
    height: 38px;
  }
}

.period_table_text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  @include fontRegular(14px, 400, 19.6px);
  text-align: center;
  border-left: 0.5px solid $matrix_table_border;
  height: 100%;
  &:last-child {
    width: 65px;
    @media all and (min-width: $min_tablet) {
      width: 116px;
    }
    @media all and (min-width: $min_desktop) {
    }
  }
  &:first-child {
    background: $card_bg_v2;
  }
  @media all and (min-width: $min_tablet) {
    width: 90px;
  }
}

.tip {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  background-color: $tips_bg;
  padding: 6px;
  border-radius: 10px;
  @include fontRegular(12px, 500, 12px);
  @media all and (min-width: $min_tablet) {
    @include fontRegular(18px, 400, 25.2px);
    padding: 8px;
    min-height: 40px;
  }

}
