@import '/styles/main.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media all and (min-width: $min_tablet) {
    gap: 24px;
  }
  @media all and (min-width: $min_desktop) {
    gap: 60px;
  }
}

.card_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media all and (min-width: $min_tablet) {
    gap: 24px;
  }
  @media all and (min-width: $min_desktop) {
    flex-direction: row;
    &:last-child {
      flex-direction: row-reverse;
    }
  }
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;

  border-radius: 30px;
  background-color: $card_bg_v2;
  @media all and (min-width: $min_tablet) {
    padding: 60px 54px;
  }
  @media all and (min-width: $min_desktop) {
    padding: 0px 54.5px;
    width: 737px;
    justify-content: center;
  }
}

.text {
  @include fontRegular(16px, 400, 22.4px);
  & > a {
    text-decoration: underline;
  }
  @media all and (min-width: $min_tablet) {
    font-size: 18px;
  }
}

.img {
  @media all and (min-width: $min_desktop) {
    display: block;
    flex-basis: 519px;
  }
}
