@import '/styles/main.scss';

.swiper_wrapper {
  overflow: hidden;
}

//slide

.slider {
  height: 100%;
}

.slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
  gap: 16px;
  background-color: $accent_v2;
  border-radius: 12px;
  border: 1px solid #af9369;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  @media all and (width >= $min_tablet) {
    flex-direction: row;
    height: 255px;
  }
}

.image {
  object-fit: cover;
  height: 160px;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  margin-inline: auto;
  @media all and (width >= $min_tablet) {
    height: 100%;
    max-width: 153px;
    object-position: top;
  }
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media all and (width >= $min_tablet) {
    flex-grow: 1;
    gap: 14px;
  }
}

.name {
  @include fontRegular(14px, 600, 14px, $third_text_color);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease;
  @media (hover: hover) {
    &:is(:hover, :focus) {
      text-decoration-color: currentColor;
    }
  }
  @media (hover: none) {
    &:is(:active, :focus) {
      text-decoration-color: currentColor;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  padding-left: 20px;
  @media all and (width >= $min_tablet) {
    display: block;
    column-count: 2;
    column-gap: 20px;
  }
}

.text {
  @include fontRegular(13px, 400, 17.94px, $third_text_color);
}
