@import '/styles/main.scss';

.main_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  @include fontRegular(14px, 600, 14px, $third_text_color);
  @media all and (width >= $min_tablet) {
    font-size: 16px;
  }
}

.calendars_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $p_separators;
  border-radius: 8px;
  height: 44px;
}

.calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.icon {
  right: 18%;
  width: 18px;
}
