@import "/styles/main.scss";

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 44px;
  @media screen and (min-width: $min_tablet) {
    gap: 10px;
    margin-bottom: 60px;
  }
}
.list_item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  @media screen and (min-width: $min_tablet) {
    gap: 10px;
  }
}

.link {
  @include fontRegular(14px, 400, 19.6px, $main_text_color);
  transition: all 250ms ease;
  &:is(:hover, :focus) {
    color: #b9314f;
  }

  @media screen and (min-width: $min_tablet) {
    @include fontRegular(16px, 400, 22.4px, $main_text_color);
  }
}

.link_to_main {
  color: #d3d3d3;
}

.arrow {
  width: 24px;
  height: 24px;
  fill: $main_text_color;
  padding: 5.293px 7.314px 5.293px 9.4px;
}
