@import '/styles/main.scss';

.p-dropdown {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid $matrix_table_border;
  border-radius: 30px;
  height: 50px;
  padding: 0 20px;
  background-color: transparent;
  @media screen and (min-width: $min_tablet) {
    width: 546px;
    height: 60px;
  }
  @media screen and (min-width: $min_desktop) {
    width: 628px;
  }
}

.p-dropdown-panel {
  border-radius: 30px;
}

.p-dropdown-label {
  color: $main_text_color;
}

.p-dropdown-items-wrapper {
  background-color: $main_bg;

  border-radius: 10px;
  border: 1px solid $matrix_table_border;
  @media screen and (min-width: $min_tablet) {
    display: flex;
  }
}

.p-dropdown-items {
  padding-left: 28px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (min-width: $min_tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 526px;
    column-gap: 10px;
  }
}
.p-dropdown-item-label {
  color: $main_text_color;
}
.p-dropdown-item {
  padding: 8px 10px;
  &[aria-selected='true'] {
    border: 1px solid $matrix_table_border;
    background-color: transparent;
    border-radius: 30px;
    opacity: 0.8;
  }
  @media screen and (min-width: $min_tablet) {
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100% - 20px) / 3);
  }
}

.p-focus {
  border: 1px solid $matrix_table_border;
  background-color: transparent;
  border-radius: 30px;
}
