@import '/styles/main.scss';

.graph_wrapper {
  position: relative;

  @media all and (min-width: $min_tablet) {
    display: flex;
    justify-content: center;
  }
  @media all and (min-width: $min_desktop) {
    width: 618px;
    height: 716px;
  }
}
.graph {
  width: 328px;
  height: 413px;
  @media all and (min-width: $min_tablet) {
    width: 618px;
    height: 716px;
  }
}

.title {
  text-align: center !important;
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: normal;
  @media all and (min-width: $min_tablet) {
    font-size: 28px !important;
    line-height: 1.42 !important;
  }
}

.inner_key {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  font-size: 10px !important;
  font-weight: 700 !important;
  line-height: 28px !important;
  text-align: center;
  color: $seconds_text_color !important;
  top: 28.7%;
  left: 47.5%;
  @media all and (min-width: $min_tablet) {
    width: 30px;
    font-size: 16px !important;
    top: 28.8%;
    left: 48.3%;
  }
  @media all and (min-width: $min_desktop) {
    left: 47.9%;
  }
}

.earth {
  top: 45%;
  @media all and (min-width: $min_tablet) {
    top: 47%;
  }
}
