@import '/styles/main.scss';

.graph_wrapper {
  position: relative;

  @media all and (min-width: $min_tablet) {
    display: flex;
    justify-content: center;
  }
  @media all and (min-width: $min_desktop) {
    width: 618px;
    height: 716px;
  }
}
.graph {
  width: 328px;
  height: 413px;
  @media all and (min-width: $min_tablet) {
    width: 618px;
    height: 716px;
  }
}

.title {
  text-align: center !important;
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: normal;
  @media all and (min-width: $min_tablet) {
    font-size: 28px !important;
    line-height: 1.42 !important;
  }
}
