@import '/styles/main.scss';
.arrow {
  position: absolute;
  top: 85%;
  right: 9%;
  animation: pulse 3s infinite;
  @media all and (min-width: $min_tablet) {
    display: none;
  }
  @media all and (min-width: $min_desktop) {
  }
}

.arrow_tab {
  display: none;
  position: absolute;
  @media all and (min-width: $min_tablet) {
    width: 180px;
    height: 190px;
    display: block;
    top: 90%;
    right: 16%;
    animation: biggerPulse 3s infinite;
  }
  @media all and (min-width: $min_desktop) {
    width: 240px;
    height: 190px;
    top: 86%;
    right: 25%;
  }
}

@keyframes pulse {
  0% {
    transform: rotate(0deg) translateY(0px) scale(1);
  }
  50% {
    transform: rotate(15deg) translateY(10px) scale(1.1);
  }
  100% {
    transform: rotate(0deg) translateY(0px) scale(1);
  }
}

@keyframes biggerPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
