@import '/styles/main.scss';

.buttons_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: fit-content;
  border-radius: 4px;
  padding: 0px 10px;
  background: $dark_gold_light;
  @include fontRegular(13px, 400, 13px, $third_text_color);
  &_active {
    background: rgba(207, 182, 145, 0.3);
    color: $main_text_color;
  }
}