@import "/styles/main.scss";

.wrap {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.title {
  @include fontRegular(16px, 400, 22.4px);
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(18px, 600, 22.4px);
  }
}

.list {
  display: flex;
  gap: 10px;
  @media screen and (min-width: $min_tablet) {
    gap: 14px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: $black;
  border-radius: 50%;
  transition: all 0.3s ease;
  @media screen and (min-width: $min_tablet) {
    width: 48px;
    height: 48px;
  }
  &:hover,
  &:focus {
    background-color: $seconds_text_color;
  }
}

.icon_social {
  width: 18px;
  height: 18px;
  fill: $main_text_color;
  @media screen and (min-width: $min_tablet) {
    width: 19px;
    height: 19px;
  }
}
