@import '/styles/main.scss';

//About

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include fontRegular(14px, 600, 14px, $third_text_color);
  @media all and (width >= $min_tablet) {
    // width: 332px;
    // width: calc((100% - 26px) / 2);

    font-size: 16px;
  }
  @media all and (width >= $min_desktop) {
  }
}

.input {
  border: 1px solid $p_separators;
  border-radius: 8px;
  padding: 8px 8px 8px 16px;
  width: 100%;
  height: 44px;
}

//Submit buttons
.submit_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.submit_title {
  @include fontRegular(14px, 400, 21.98px, $third_text_color);
  @media all and (width >= $min_desktop) {
    text-align: end;
  }
}

.buttons_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media all and (width >= $min_tablet) {
    flex-direction: row;
  }
  @media all and (width >= $min_desktop) {
    justify-content: flex-end;
  }
}

.submit_button {
  display: flex;
  align-items: center;
  height: 44px;
  gap: 24px;
  padding: 10px 12px;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  @include fontRegular(16px, 600, 16px);
  @media all and (width >= $min_tablet) {
    width: 226px;
    gap: 8px;
  }
  @media all and (width >= $min_desktop) {
    height: 46px;
  }
  &_published {
    background-color: $p_active_button;
    & > svg {
      width: 18px;
      height: 18px;
    }
  }
  &_draft {
    color: $p_active_button;
    border: 1px solid $p_active_button;

    & > svg {
      width: 16px;
      height: 16px;
    }
  }
}

//additional files

.file_label {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid $p_separators;
  border-radius: 8px;
  padding: 8px 16px 8px 8px;
  width: 100%;
  min-height: 44px;
}

.file_input {
  display: none;
}

.file_icon {
  position: absolute;
  top: 35%;
  right: 2%;
  width: 9px;
  height: 16px;
}

.files_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.files_item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 0px 4px 0px 8px;
  height: 32px;
  background-color: $p_separators;
}

.file_name {
  @include fontRegular(8px, 400, 12px, $third_text_color);
  @media all and (width >= $min_tablet) {
    font-size: 10px;
  }
  @media all and (width >= $min_desktop) {
  }
}

.delete_button {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete_icon {
  width: 16px;
  height: 16px;
}
