@import '/styles/main.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media all and (width >= $min_tablet) {
    flex-direction: row;
    max-width: $min_tablet;
    justify-content: center;
    margin-inline: auto;
  }
  @media all and (width >= $min_desktop) {
    max-width: $min_desktop;
  }
  @media all and (width >= $mac) {
    max-width: $mac;
    padding: 0 16px;
  }
  @media all and (width >= $big_pc) {
    max-width: $big_pc;
    padding: 0 80px;
  }
}

.link_back {
  display: flex;
  align-items: center;
  gap: 8px;
  @include fontRegular(14px, 600, 19.6px, $buttons_color);
  margin-bottom: 28px;
  &:hover {
    color: $buttons_hover_color;
  }
  & > svg {
    width: 14px;
    height: 14px;
  }
  @media all and (width >= $min_desktop) {
    font-size: 16px;
    margin-bottom: 56px;
  }
}
