@import '/styles/main.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 400px;
}

.info {
  @include fontRegular(12px, 400, 16.8px, $p_second_text_color);
  @media all and (width >= $min_tablet) {
    font-size: 14px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include fontRegular(14px, 600, 14px, $third_text_color);
}

.textarea {
  height: 100px;
  border: 1px solid $p_separators;
  border-radius: 8px;
  padding: 10px 16px 19px;
  resize: none;
  overflow-y: hidden;
}

.ticks_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
