@import '/styles/main.scss';
.main_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.time_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $p_separators;
  border-radius: 8px;
  padding: 8px;
}

.title {
  @include fontRegular(14px, 600, 14px, $third_text_color);
  @media all and (width >= $min_tablet) {
    font-size: 16px;
  }
}
