@import '/styles/main.scss';

.section {
  overflow: visible;
}

.container {
  position: relative;
  @media screen and (min-width: $min_desktop) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 132px;
  }
}

.header {
  @include fontRegular(24px, 400, 24px, $main_text_color, center);
  margin-bottom: 42px;
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(36px, 400, 36px, $main_text_color, center);
  }
  @media screen and (min-width: $min_desktop) {
    @include fontRegular(36px, 400, 36px);
  }
}

.description_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
  @media all and (min-width: $min_tablet) {
    margin-bottom: 60px;
  }
}

.description {
  @include fontRegular(16px, 400, 22.4px, $main_text_color, center);
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(18px, 400, 25.2px, $main_text_color, center);
  }
  @media screen and (min-width: $min_desktop) {
    @include fontRegular(18px, 400, 25.2px);
  }
}

.arrow {
  display: none;
  @media screen and (min-width: $min_desktop) {
    width: 120px;
    height: 74px;
    display: block;
    margin: 0 auto;
    animation: pulse 3s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(0px);
  }
}

.spot {
  display: none;
  @media screen and (min-width: $min_desktop) {
    position: absolute;
    display: block;

    top: 16%;
    left: 22%;

    width: 250px;
    height: 270px;

    border-radius: 270px;
    background: linear-gradient(
      180deg,
      rgba(206, 180, 144, 0.4) 0%,
      rgba(207, 182, 145, 0.4) 45.14%
    );

    filter: blur(125px);
  }
}
