@import '/styles/main.scss';

.p-dropdown {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid $matrix_table_border;
  border-radius: 30px;
  height: 50px;
  padding: 0 20px;
  @media screen and (min-width: $min_tablet) {
    height: 60px;
  }
}

.p-dropdown-panel {
  border-radius: 30px;
}

.p-dropdown-items-wrapper {
  background-color: rgba(16, 16, 16, 0.9);
  border-radius: 30px;
  border: 1px solid $matrix_table_border;
  border-top: none;
  padding: 20px 0;
  @media screen and (min-width: $min_tablet) {
    display: flex;
  }
}

.p-dropdown-items {
  padding: 0 28px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (min-width: $min_tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 526px;
    column-gap: 10px;
  }
}

.p-dropdown-item {
  padding: 8px 15px;
  &[aria-selected='true'] {
    border: 1px solid $matrix_table_border;
    border-radius: 30px;
  }
  &.p-focus {
    border: 1px solid $matrix_table_border;
    border-radius: 30px;
    opacity: 0.9;
  }
  @media screen and (min-width: $min_tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100% - 20px) / 3);
  }
}
