@import '/styles/main.scss';

.event_wrapper {
  display: none;
  @media all and (width >= $min_desktop) {
    padding: 50px 0px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    border-radius: 30px;
    background-color: $card_bg_v2;
    height: calc((100vh - 146px));
    min-height: 654px;
    border-left: 1px solid $accent_v2;
  }
}
