@import '/styles/main.scss';

.title {
  @include fontRegular(28px, 400, 39.2px);
  margin-bottom: 40px;
  @media all and (min-width: $min_tablet) {
    @include fontRegular(36px, 400, 36px);
  }
}

.warning {
  display: none;
  @media all and (min-width: $min_tablet) {
    display: block;
    @include fontRegular(18px, 400, 25.2px);
    margin-bottom: 40px;
  }
}
