@import '/styles/main.scss';

.wrapper {
  position: relative;
  top: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 24px;
  border-radius: 30px;
  background: $main_bg;
  border: 1px solid $dark_gold_dark;
  min-height: calc(90vh - 305px);
  @media all and (width >= $min_tablet) {
    padding: 32px;
  }
  @media all and (width >= $min_desktop) {
    padding: 40px;
  }
}

.text {
  @include fontRegular(24px, 400, 24px);
}

.reset {
  @include buttonsDefault();
  @include fontRegular(14px, 400, 14px, $seconds_text_color);
  width: 200px;
  height: 50px;
}
