@import '/styles/main.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.title {
  @include fontRegular(16px, 400, 16px);
  @media all and (width >= $min_desktop) {
    font-size: 24px;
  }
}

.fb_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  flex-grow: 1;
  @media all and (width >= $min_desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include fontRegular(14px, 400, 20.02px);
  @media all and (width >= $min_tablet) {
    font-size: 16px;
  }
  @media all and (width >= $min_desktop) {
    width: calc(50% - 12px);
  }
}

.textarea {
  background-color: $main_bg;
  resize: none;
  border-radius: 14px;
  padding: 10px 12px;
  min-height: 80px;
  @include fontRegular(14px, 400, 20.02px);
  border: 1px solid $dark_gold_light;
  max-height: 200px;
  overflow-y: auto;
  @media all and (width >= $min_desktop) {
    max-height: 150px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 221px;
  height: 54px;
  border-radius: 8px;
  background: $buttons_color;
  @include fontRegular(14px, 600, 20.02px, $third_text_color);
  @media all and (width >= $min_tablet) {
    font-size: 16px;
  }
  @media all and (width >= $min_desktop) {
    margin-left: auto;
  }
}

.error {
  @include fontRegular(12px, 400, 16px, red);
}
