@import '../styles/main.scss';

.logo {
  position: absolute;
  width: 520px;
  height: 520px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media all and (min-width: $min_tablet) {
    width: 680px;
    height: 680px;
  }
  @media all and (min-width: $min_desktop) {
  }
}
