@import '/styles/main.scss';

.item {
  position: relative;
  display: flex;
  width: 100%;
  &::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: $additional_bg;
    left: 20px;
  }
  @media all and (width >= $min_tablet) {
    gap: 24px;
  }
}

.icon_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 44px;
  height: 44px;
  background-color: $additional_bg;
  top: 16px;
}

.icon {
  width: 24px;
  height: 24px;
}

.article {
  display: flex;
  flex-direction: column;
  width: 100%;
}
