@import '/styles/main.scss';

.main {
  position: relative;
  top: -25px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  border: 1px solid $dark_gold_dark;
  border-radius: 30px;
  padding: 80px 24px;
  box-shadow: 0 -2px 15px 0 $accent_v2;
  background: $main_bg;
  text-wrap: balance;
}
