@import '/styles/main.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table_name {
  @include fontRegular(16px, 400, 22.4px, $third_text_color);
  @media all and (width >= $min_tablet) {
    font-size: 18px;
  }
}

.search_visibility {
  display: none;
  @media all and (width >= $min_desktop) {
    display: flex;
    gap: 12px;
  }
}
