@import '/styles/main.scss';

.link {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cover {
  width: 328px;
  height: 205px;
  border-radius: 30px;
  @media all and (min-width: $min_tablet) {
    height: 223px;
    width: 356px;
  }
  @media all and (min-width: $min_desktop) {
    height: 190px;
    width: 302px;
  }
}
