@import '/styles/main.scss';

.wrapper {
  @media all and (min-width: $min_desktop) {
    grid-area: 4 / 1 / 5 / 2;
  }
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
  @media all and (min-width: $min_tablet) {
    font-size: 28px;
    margin-bottom: 48px;
  }
}

.keys_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.key {
  display: flex;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 2px solid $accent_v2;
  @include fontRegular(16px, 400, 22.4px);
  @media all and (min-width: $min_tablet) {
    @include fontRegular(20px, 400, 28px);
    width: 46px;
    height: 46px;
  }
}
