@import "/styles/main.scss";

.container {
  @media screen and (min-width: $min_desktop) {
    background-image: radial-gradient(
        circle,
        rgba(109, 27, 45, 0.3) 23%,
        rgba(158, 19, 50, 0.2) 35%,
        rgba(0, 0, 0, 0) 79%
      ),
      radial-gradient(
        circle,
        rgba(109, 27, 45, 0.1) 23%,
        rgba(158, 19, 50, 0.1) 35%,
        rgba(0, 0, 0, 0) 79%
      );
    background-size: 30% 440px, 320px 380px;
    background-position: 12% 20%, 80% 0%;
    background-repeat: no-repeat;
  }
}

.title {
  margin-bottom: 40px;
  @media screen and (min-width: $min_tablet) {
    margin-bottom: 48px;
    text-align: center !important;
  }
  @media screen and (min-width: $min_desktop) {
    margin-bottom: 60px;
  }
}

.cards_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media screen and (min-width: $min_tablet) {
    gap: 24px;
  }
  @media screen and (min-width: $min_desktop) {
    flex-direction: row;
  }
}

//card

.card_list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
  padding: 28px 28px 28px 32px;
  border-radius: 30px;
  border: 1px solid $seconds_text_color;
  background-color: $black;
  @media screen and (min-width: $min_tablet) {
    padding: 40px 37px 40px 140px;
  }
  @media screen and (min-width: $min_desktop) {
    padding: 40px 37px 30px 60px;
    width: calc((100% - 48px) / 3);
  }
}

.card_element {
  display: flex;
  gap: 16px;
  align-items: baseline;
}

.column1_text {
  @include fontRegular(16px, 600, 16px, $main_text_color, right);
  white-space: nowrap;
  min-width: 26px;
  @media screen and (min-width: $min_tablet) {
    font-size: 18px;
  }
}
.column2_text {
  @include fontRegular(16px, 400, 22.4px);
}

.warning_margin {
  margin-bottom: 24px;
  @media screen and (min-width: $min_tablet) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: $min_desktop) {
    margin-bottom: 40px;
  }
}

.warning {
  @include fontRegular(16px, 400, 22.4px);
  @media screen and (min-width: $min_desktop) {
    text-wrap: balance;
  }
}
