@import '/styles/main.scss';

.buttons_wrapper {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 8px;
  height: 76px;
  padding: 0 12px;
  @media all and (width >= $min_tablet) {
    padding: 0 24px;
    height: 82px;
  }
}

.submit_wrapper {
  display: flex;
  gap: 8px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 32px;
  transition: all 250ms ease;
  @include fontRegular(12px, 400, 19.6px);
  &_cancel {
    width: 81px;
    color: $third_text_color;
    border: 1px solid $p_border;
    @media all and (width >= $min_tablet) {
      width: 111px;
    }
  }
  &_publish {
    width: 101px;
    background-color: $p_active_button;
    @media all and (width >= $min_tablet) {
      width: 138px;
    }
  }
  &_draft {
    width: 142px;
    border: 1px solid #d4dff9;
    background-color: #e5edff;
    color: $third_text_color;
    @media all and (width >= $min_tablet) {
      width: 196px;
    }
  }
  @media all and (width >= $min_tablet) {
    height: 44px;
    font-size: 16px;
  }
  @media (hover: hover) {
    &:is(:hover, :focus) {
      scale: 1.05;
    }
  }
  @media (hover: none) {
    &:is(:active, :focus) {
      scale: 1.05;
    }
  }
}