@import '/styles/main.scss';

.box {
  @media all and (min-width: $min_desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.text_wrapper {
  @media all and (min-width: $min_desktop) {
    flex: 1;
  }
}

.title {
  @include fontRegular(32px, 400, 44.8px);
  margin-bottom: 28px;

  @media all and (min-width: $min_tablet) {
    @include fontRegular(48px, 400, 48px);
    margin-bottom: 44px;
  }
  @media all and (min-width: $min_desktop) {
    @include fontRegular(64px, 400, 89.6px);
    margin-bottom: 48px;
  }
}

.button {
  display: flex;
  width: 328px;
  height: 52px;
  justify-content: center;
  align-items: center;

  background-color: $buttons_color;
  border-radius: 30px;

  margin-bottom: 16px;

  @include fontRegular(16px, 600, 16px, $third_text_color);

  transition: all 0.3s ease;

  &:hover,
  &:focus {
    scale: 1.05;
    background-color: $buttons_hover_color;
  }
  @media all and (min-width: $min_tablet) {
    width: 356px;
    height: 60px;
    @include fontRegular(18px, 600, 18px, $third_text_color);
    margin-bottom: 24px;
  }
  @media all and (min-width: $min_desktop) {
    width: 411px;
    margin-bottom: 0px;
  }
}

.img {
  border-radius: 30px;
  @media all and (min-width: $min_desktop) {
    width: 519px;
    min-height: 300px;
  }
}
