@import "/styles/main.scss";

.container {
  @media screen and (min-width: $min_desktop) {
    display: flex;
    gap: 140px;
  }
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 112px;
  margin-bottom: 24px;
  @media screen and (min-width: $min_tablet) {
    gap: 140px;
    margin-bottom: 32px;
    background-image: radial-gradient(
        circle,
        rgba(109, 27, 45, 0.14) 33%,
        rgba(158, 19, 50, 0.13) 45%,
        rgba(0, 0, 0, 0) 79%
      ),
      radial-gradient(
        circle,
        rgba(109, 27, 45, 0.1) 33%,
        rgba(158, 19, 50, 0.1) 45%,
        rgba(0, 0, 0, 0) 79%
      );
    background-size: 320px 380px, 220px 280px;
    background-position: 0% 0%, 90% 100%;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: $min_desktop) {
    flex: 1;
    gap: 160px;
  }
}

.title {
  @include fontRegular(28px, 400, 39.2px);
  margin-bottom: 40px;

  @media screen and (min-width: $min_tablet) {
    @include fontRegular(36px, 400, 36px);
    margin-bottom: 48px;
  }
  @media screen and (min-width: $min_desktop) {
    margin-bottom: 60px;
  }
}

.description {
  @include fontRegular(16px, 400, 22.4px);
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(18px, 400, 25.2px);
  }
}

.img {
  @media screen and (min-width: $min_desktop) {
    width: 519px;
    height: auto;
    flex: 1;
  }
}
