@import "/styles/main.scss";

.nav_links_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  @media screen and (min-width: $min_desktop) {
    flex-direction: row;
  }
}

.nav_link {
  display: flex;
  padding: 17px 0px;
  justify-content: center;
  align-items: center;

  width: 328px;

  border-radius: 30px;
  background-color: #000;

  @include fontRegular(24px, 400, 24px);
  transition: all 350ms ease;
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(28px, 400, 39.2px);
    width: 411px;
    padding: 20px 0px;
  }
  @media screen and (min-width: $min_desktop) {
  }
  &:hover,
  &:focus {
    scale: 1.1;
    background-color: #e24668;
    @media screen and (min-width: $min_desktop) {
      scale: 1.05;
    }
  }
  &_active {
    background-color: $buttons_color;
  }
}
