@import '/styles/main.scss';

.main_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  @media screen and (min-width: $min_tablet) {
    gap: 48px;
  }
  @media screen and (min-width: $min_desktop) {
    justify-content: center;
  }
}

.title {
  @include fontRegular(24px, 400, 30px, $main_text_color, center);
  @media screen and (min-width: $min_tablet) {
    font-size: 28px;
  }
}

.main_table {
  border: 0.5px solid rgb(126, 126, 126);
}

.main_table_element {
  display: flex;
  height: 50px;
  border-bottom: 0.5px solid rgb(126, 126, 126);
  &:last-child {
    border: none;
  }
}

.main_table_element_name {
  display: flex;
  align-items: center;
  width: 208px;
  height: 100%;
  padding: 0px 59px 0px 12px;
  border-right: 0.5px solid rgb(126, 126, 126);
  @include fontRegular(14px, 400, 19.6px);
  @media screen and (min-width: $min_tablet) {
    font-size: 16px;
    width: 340px;
    padding-right: 0px;
  }
}

.main_table_element_key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  border-right: 0.5px solid rgb(126, 126, 126);

  @include fontRegular(14px, 400, 19.6px);
  &:last-child {
    border: none;
  }
  @media screen and (min-width: $min_tablet) {
    font-size: 16px;
    width: 59px;
  }
}
