@import "/styles/main.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recruitment {
  position: relative;
  padding: 10px;
  margin: 0 auto;
  border-radius: 12px;
  background-color: $main_text_color;
  @include fontRegular(14px, 400, 19.6px, $main_bg, center);
  z-index: 2;
  transform: translateY(35px);
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(16px, 400, 22.4px, $main_bg, center);
    padding: 12px 10px;
  }
  @media screen and (min-width: $min_desktop) {
  }
}

.card_title {
  position: relative;
  width: 257px;
  padding: 30px 20px;

  border-radius: 30px;
  background-image: linear-gradient(270deg, #cfb691 -135.76%, #000 102.98%);
  @include fontRegular(24px, 400, 24px, $main_text_color, center);
  z-index: 0;
  transform: translateY(15px);
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(28px, 400, 39.2px, $main_text_color, center);
    padding: 43px;
    width: 342px;
  }
  @media screen and (min-width: $min_desktop) {
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px 25.5px;

  border-radius: 30px;
  background-color: $card_bg_v2;
  z-index: 2;
  @media screen and (min-width: $min_tablet) {
    padding: 40px 70px;
  }
  @media screen and (min-width: $min_desktop) {
  }
}

.list {
  display: flex;
  flex-direction: column;

  gap: 16px;
  margin-bottom: 44px;
  @media screen and (min-width: $min_tablet) {
    gap: 20px;
    margin-bottom: 72px;
  }
  @media screen and (min-width: $min_desktop) {
  }
}

.list_text_element {
  display: flex;
  align-items: center;

  gap: 10px;
}

.list_text {
  max-width: 243px;

  @include fontRegular(14px, 400, 19.6px, $main_text_color);
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(16px, 400, 22.4px, $main_text_color);
    max-width: 281px;
  }
  @media screen and (min-width: $min_desktop) {
  }
}

.icon {
  width: 24px;
  height: 24px;
  & > svg {
    width: 24px;
    height: 24px;
    padding: 5px 8px;
    fill: $seconds_text_color;
  }
}

.price {
  @include fontRegular(28px, 400, 39.2px, $main_text_color);
  margin-bottom: 24px;
  @media screen and (min-width: $min_tablet) {
    margin-bottom: 28px;
  }
}

.btn_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 212px;
  height: 51px;

  border-radius: 30px;
  background-color: $buttons_color;
  border: 2px solid $buttons_color;

  @include fontRegular(16px, 600, 16px, $third_text_color);

  transition: all 250ms ease;

  &:is(:hover, :focus) {
    scale: 1.05;
    background-color: $buttons_hover_color;
    border-color: $buttons_hover_color;
  }
}

.second_btn {
  background-color: transparent;
  color: $main_text_color;
  &:is(:hover, :focus) {
    background-color: $buttons_color;
  }
}

//Message to scroll

.message_wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 40px;
  @media screen and (min-width: $min_tablet) {
    gap: 64px;
    padding-top: 58px;
  }
  @media screen and (min-width: $min_desktop) {
    display: none;
  }
}

.message {
  @include fontRegular(24px, 400, 24px);
  max-width: 191px;
  & > span {
    color: $buttons_hover_color;
  }
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(28px, 400, 39.2px);
    max-width: 220px;
  }
  @media screen and (min-width: $min_desktop) {
    display: none;
  }
}

.arrow {
  transform-origin: left;
  animation: arrowRight 3s infinite;
  width: 103px;
  height: 32;
  @media screen and (min-width: $min_tablet) {
    width: 140px;
    height: 35;
  }
}

@keyframes arrowRight {
  0% {
    transform: translateX(0) translateY(0) rotateZ(0deg);
  }
  50% {
    transform: translateX(10px) translateY(-5px) rotateZ(-5deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotateZ(0deg);
  }
}
