@import "/styles/main.scss";

.container {
  display: grid;
  gap: 24px;

  @media screen and (min-width: $min_tablet) {
    gap: 32px;
  }
  @media screen and (min-width: $min_desktop) {
    gap: 0px;
    align-items: center;
  }
}

.title {
  @media screen and (min-width: $min_desktop) {
    grid-column: 2;
    grid-row: 1;
  }
}

.text {
  @include fontRegular(16px, 400, 22.4px);
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(18px, 400, 25.2px);
  }

}

.text_container {
  display: grid;
  gap: 24px;
  @media screen and (min-width: $min_desktop) {
    grid-column: 2;
    grid-row: 2;
  }
}

.list {
  list-style: disc;
  padding-left: 20px;
  @media screen and (min-width: $min_tablet) {
    padding-left: 24px;
  }

}

.img {
  @media screen and (min-width: $min_desktop) {
    width: 519px;
    height: 400px;
    object-fit: contain;
    grid-column: 1;
    grid-row: 1 / span 2;
    margin-right: 133px;
  }
}
