@import '/styles/main.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media all and (width >= $min_tablet) {
    gap: 60px;
  }
}

.title {
  @include fontRegular(32px, 400, 32px, $main_text_color, center);
  @media all and (width >= $min_tablet) {
    font-size: 36px;
  }
  @media all and (width >= $min_desktop) {
    font-size: 44px;
  }
}
