@import '/styles/main.scss';

.wrapper {
  width: 100%;
  aspect-ratio: 312/175;
  @media all and (width >= $min_tablet) {
    aspect-ratio: 680/380;
  }
  @media all and (width >= $min_desktop) {
    aspect-ratio: 1280/650;
    max-height: 650px;
  }
}

.frame {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}
