@import '/styles/main.scss';

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px;
  width: 100%;
  background-color: $p_main_bg;
  min-height: calc(100vh - 65px);
  @media all and (width >= $min_tablet) {
    padding: 24px;
    gap: 32px;
  }
  @media all and (width >= $min_desktop) {
    padding: 0;
    overflow-y: auto;
    max-height: 100vh;
    gap: 16px;
  }
}
