@import '/styles/main.scss';

.more_about_course_wrapper {
  @media all and (width >= $min_tablet) {
    order: 3;
  }
  @media all and (width >= $min_desktop) {
    display: none;
  }
}

.open_button {
  display: flex;
  align-items: center;
  gap: 8px;
  @include fontRegular(14px, 600, 16.8px, $p_active_button);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  & > svg {
    width: 14px;
    height: 14px;
  }
  @media all and (width >= $min_tablet) {
    font-size: 16px;
  }
}

//modal

.modal_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid $p_separators;
  border-radius: 12px;
  padding: 24px;
  width: 328px;
  min-height: 400px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: $card_bg;
  @media all and (width >= $min_tablet) {
    width: 484px;
    min-height: 344px;
  }
}

.img_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 92px;
  height: 88px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

//list

.details_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.details_list_item {
  display: flex;
  align-items: center;
  gap: 8px;
  @media all and (width >= $min_tablet) {
    gap: 16px;
  }
}

.list_text {
  @include fontRegular(14px, 400, 16.8px, $third_text_color);
  overflow-x: auto;
  &:first-child {
    width: 120px;
  }
  &:last-child {
    font-weight: 600;
    width: calc(100% - 136px);
    &::-webkit-scrollbar {
      display: none;
    }

    /* Firefox */
    scrollbar-width: none;

    /* Edge/IE (не підтримується повністю, але на всяк) */
    -ms-overflow-style: none;
  }
  @media all and (width >= $min_tablet) {
    font-size: 16px;
  }
}

.list_button {
  @media (hover: hover) {
    &:is(:hover, :focus) {
      scale: 1;
      color: $p_active_button;
    }
  }

  @media (hover: none) {
    &:is(:active, :focus) {
      scale: 1;
      color: $p_active_button;
    }
  }
}
