@import '/styles/main.scss';

.matrix_wrapper {
  border-top: 1px solid $seconds_text_color;
  border-bottom: 1px solid $seconds_text_color;
  background: $matrix_bg_gradient;
}

.parents_and_children_matrix {
  @media all and (min-width: $min_desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
  }
}

.children_container {
  background: $matrix_bg_gradient;
  border-bottom: 1px solid $seconds_text_color;
}
