@import '/styles/main.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
  border-bottom: 1px solid $card_bg;
  @media all and (width >= $min_tablet) {
    gap: 24px;
    padding: 0;
  }
  @media all and (width >= $min_desktop) {
  }
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  @media all and (width >= $min_tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  @media all and (width >= $min_desktop) {
  }
}

.name {
  @include fontRegular(14px, 400, 14px);
  height: 44px;
  line-height: 30px;
  @media all and (width >= $min_tablet) {
    line-height: normal;
    height: auto;
    font-size: 16px;
  }
  @media all and (width >= $min_desktop) {
    font-size: 20px;
  }
}

.dates {
  @include fontRegular(14px, 600, 14px);
  @media all and (width >= $min_tablet) {
    font-size: 16px;
  }
  @media all and (width >= $min_desktop) {
    font-size: 20px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 250ms ease-in;
}

.opened {
  rotate: -180deg;
}
