@import '/styles/main.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @media all and (width >= $min_tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.title {
  @include fontRegular(20px, 400, 20px, $seconds_text_color);
  @media all and (width >= $min_tablet) {
    order: 1;
    font-size: 24px;
  }
}
