@import '/styles/main.scss';

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: $card_bg_v2;
  border: 1px solid $accent_v2;
  border-radius: 16px;
  padding: 16px;
  min-width: 216px;
  min-height: 97px;
  max-width: 80%;
  @media all and (width >= $min_tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    min-width: 480px;
    min-height: 80px;
  }
  @media all and (width >= $min_desktop) {
    width: calc((100% - 16px) / 2);
    flex-grow: 1;
    min-height: 96px;
  }
}

.name {
  @include fontRegular(14px, 600, 14px);
  word-break: break-word;
  @media all and (width >= $min_tablet) {
  }
  @media all and (width >= $min_desktop) {
    font-size: 16px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 14px;

  width: 148px;
  height: 30px;
  background-color: $buttons_color;
  @include fontRegular(16px, 600, 16px, $third_text_color);
  @media all and (width >= $min_tablet) {
    width: 150px;
    height: 48px;
  }
  @media all and (width >= $min_desktop) {
    border-radius: 30px;
    width: 164px;
  }
}
