@import "/styles/main.scss";

.box {
  @media screen and (min-width: $min_desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 342px;
    position: relative;
  }
}

.text_wrapper {
  @media screen and (min-width: $min_desktop) {
    flex: 1;
    z-index: 2;
  }
}

.title {
  @include fontRegular(32px, 400, 44.8px);
  margin-bottom: 28px;
  display: none;
  &_mobile {
    @include fontRegular(32px, 400, 44.8px);
    margin-bottom: 28px;
    display: block;
    @media screen and (min-width: $min_tablet) {
      display: none;
    }
  }
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(48px, 400, 48px);
    margin-bottom: 44px;
    display: block;
  }
  @media screen and (min-width: $min_desktop) {
    @include fontRegular(64px, 400, 89.6px);
    margin-bottom: 48px;
    max-width: 868px;
  }
}

.button {
  display: flex;
  width: 328px;
  height: 52px;
  justify-content: center;
  align-items: center;

  background-color: $buttons_color;
  border-radius: 30px;

  margin-bottom: 16px;

  @include fontRegular(16px, 600, 16px);

  transition: all 0.3s ease;

  &:hover,
  &:focus {
    scale: 1.05;
    background-color: $buttons_hover_color;
  }
  @media screen and (min-width: $min_tablet) {
    width: 356px;
    height: 60px;

    @include fontRegular(18px, 600, 18px);

    margin-bottom: 24px;
  }
  @media screen and (min-width: $min_desktop) {
    width: 411px;

    margin-bottom: 0px;
  }
}

.img {
  object-fit: cover;
  @media screen and (min-width: $min_tablet) {
    height: 420px;
  }
  border-radius: 30px;
  @media screen and (min-width: $min_desktop) {
    height: auto;
    width: 519px;
    min-height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
