@import '/styles/main.scss';

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  @media all and (width >= $min_desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border: 1px solid $dark_gold_light;
  border-radius: 24px;
  padding: 24px;
  min-width: 312px;
  min-height: 98px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: $main_bg;
  @media all and (width >= $min_desktop) {
    width: calc(50% - 8px);
  }
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  max-width: calc(100% - 70px);
}

.title {
  @include fontRegular(14, 600, 15px);
}

.file_name {
  display: -webkit-box;
  -webkit-line-clamp: 2; // максимум 2 рядки
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; // додає "..." якщо текст обрізається
  @include fontRegular(14px, 400, 20px);
}

.download_button {
  border: 1px solid $buttons_color;
  border-radius: 300px;
  width: 50px;
  height: 50px;
  & > svg {
    width: 24px;
    height: 24px;
  }
  &:disabled {
    opacity: 0.6;
  }
}
