@import '/styles/main.scss';

.matrix_wrapper {
  border-top: 1px solid $seconds_text_color;
  border-bottom: 1px solid $seconds_text_color;
  background: $matrix_bg_gradient;
}

.sixteen_laws_of_matrix_matrix_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
  @media all and (min-width: $min_tablet) {
    margin-bottom: 96px;
  }
  @media all and (min-width: $min_desktop) {
    flex-direction: row;
    gap: 113px;
    margin-bottom: 160px;
  }
}
