@import "/styles/main.scss";

.container {
  position: relative;
  display: grid;
  gap: 24px;
  @media screen and (min-width: $min_tablet) {
    gap: 32px;
  }
  @media screen and (min-width: $min_desktop) {
    grid-template-columns: 1fr 519px;
  }
}

.section {
  overflow: visible;
}

.title {
  @include fontRegular(28px, 400, 39.2px);
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(36px, 400, 36px);
  }
  @media screen and (min-width: $min_desktop) {
    grid-column: 1;
    grid-row: 1;

    display: flex;
    align-items: center;
    height: 100%;
  }
}

.text_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: $min_tablet) {
    gap: 24px;
  }
  @media screen and (min-width: $min_desktop) {
    grid-column: 1;
    grid-row: 2;
  }
}

.text {
  @include fontRegular(16px, 400, 22.4px);
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(18px, 400, 25.2px);
  }
}

.img {
  @media screen and (min-width: $min_desktop) {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}

.spot {
  display: none;
  @media screen and (min-width: $min_desktop) {
    position: absolute;
    display: block;

    top: 13%;
    left: 5%;

    width: 221px;
    height: 280px;

    border-radius: 280px;
    background-image: linear-gradient(
      180deg,
      rgba(207, 182, 145, 0.4) 7%,
      rgba(207, 182, 145, 0.4) 45.14%
    );

    filter: blur(125px);
  }
}
