@import '/styles/main.scss';

.section {
  overflow: visible;
}

.container {
  position: relative;
  display: grid;
  gap: 24px;
  @media all and (min-width: $min_tablet) {
    gap: 32px;
  }
  @media all and (min-width: $min_desktop) {
    gap: 0px;
    column-gap: 133px;
    align-items: center;
  }
}

.title {
  @media all and (min-width: $min_desktop) {
    grid-column: 2;
    grid-row: 1;
  }
}

.img {
  border-radius: 30px;
  @media all and (min-width: $min_desktop) {
    object-fit: contain;
    grid-column: 1;
    grid-row: 1 / span 2;
  }
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  max-height: 420px;
  margin-bottom: 16px;
  transition: max-height 750ms ease;
  &_more {
    max-height: 1500px;
  }
  @media all and (min-width: $min_tablet) {
    margin-bottom: 0px;
    max-height: 100%;
    overflow: visible;
  }
  @media all and (min-width: $min_desktop) {
    grid-column: 2;
    grid-row: 2;
  }
}

.text {
  @include fontRegular(18px, 400, 25.2px);
}

.btn {
  @include fontRegular(16px, 400, 22.4px, #fff, center);
  text-decoration-line: underline;
  width: 100%;
  padding: 8px;
  @media all and (min-width: $min_tablet) {
    display: none;
  }
}

.spot {
  display: none;
  @media all and (min-width: $min_desktop) {
    position: absolute;
    display: block;

    top: 20%;
    left: 42%;

    width: 221px;
    height: 280px;

    border-radius: 270px;
    background: linear-gradient(
      180deg,
      rgba(206, 180, 144, 0.4) 0%,
      rgba(207, 182, 145, 0.4) 45.14%
    );

    filter: blur(105px);
  }
}

.spot2 {
  display: none;
  @media all and (min-width: $min_desktop) {
    position: absolute;
    display: block;

    top: 46%;
    right: 7%;

    width: 221px;
    height: 280px;

    border-radius: 280px;
    background: linear-gradient(
      180deg,
      rgba(206, 180, 144, 0.4) 0%,
      rgba(207, 182, 145, 0.4) 45.14%
    );

    filter: blur(105px);
  }
}
