@import '/styles/main.scss';

.list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  @include fontRegular(14px, 400, 20px);
  text-transform: uppercase;
  text-wrap: auto;
  white-space: pre-line;
  @media all and (width >= $min_tablet) {
    font-size: 16px;
  }
  @media all and (width >= $min_desktop) {
    font-size: 18px;
  }
}

.text {
  @include fontRegular(14px, 400, 20px);
  text-wrap: auto;
  white-space: pre-line;
  @media all and (width >= $min_desktop) {
    font-size: 16px;
  }
}
