@import '/styles/main.scss';

.wrapper {
  margin-bottom: 60px;
  @media screen and (min-width: $min_tablet) {
    margin-bottom: 96px;
  }
  @media screen and (min-width: $min_desktop) {
    display: flex;
    gap: 34px;
  }
}

.maps_wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  @media screen and (min-width: $min_desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}


.hero {
  margin-bottom: 80px;
  @media screen and (min-width: $min_tablet) {
    margin-bottom: 100px;
  }
  //   @media screen and (min-width: $min_desktop) {
  //     margin-bottom: 80px;
  //   }
}

.matrix_wrapper {
  border-top: 1px solid $seconds_text_color;
  border-bottom: 1px solid $seconds_text_color;
  background: $matrix_bg_gradient;
}