@import "../styles/main.scss";

.section {
  padding-bottom: 120px;
  @media screen and (min-width: $min_tablet) {
    padding-bottom: 160px;
  }
  @media screen and (min-width: $min_desktop) {
    padding-bottom: 180px;
  }
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px;
  @media screen and (min-width: $min_tablet) {
    gap: 80px;
  }
  @media screen and (min-width: $min_desktop) {
    flex-direction: row;
    align-items: center;
    gap: 192px;
  }
}

.wrap_item {
  @media screen and (min-width: $min_desktop) {
    width: 677px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  fill: $seconds_text_color;
  @media screen and (min-width: $min_tablet) {
    width: 45px;
    height: 45px;
  }
}

.title {
  margin-bottom: 48px;
  color: $main_text_color;
  @include fontRegular(40px, 400, 48px);
  leading-trim: both;
  text-edge: cap;
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(48px, 400, 57.6px);
    margin-bottom: 60px;
  }
  @media screen and (min-width: $min_desktop) {
    margin-bottom: 80px;
    @include fontRegular(64px, 400, 89.6px);
  }
}

.description {
  @include fontRegular(16px, 400, 22.4px);
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(18px, 400, 25.2px);
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  @media screen and (min-width: $min_tablet) {
    width: 356px;
  }
  @media screen and (min-width: $min_desktop) {
    width: 302px;
  }
}

.link {
  display: flex;
  padding: 12px 20px;
  gap: 16px;
  align-items: center;
  border-radius: 30px;
  background-color: $black;
  & > svg {
    transition: all 0.3s ease;
  }
  transition: all 0.3s ease;
  @include fontRegular(24px, 400, 28.8px);
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(28px, 400, 39.2px);
  }
  @media screen and (min-width: $min_desktop) {
  }
  &:hover,
  &:focus {
    scale: 1.05;
    background-color: $seconds_text_color;
    & > svg {
      fill: $main_text_color;
    }
  }
}

.logo {
  z-index: 0;
  position: absolute;
  width: 316px;
  height: 316px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(109, 27, 45, 0.5);
  filter: blur(4px);
  @media screen and (min-width: $min_tablet) {
    width: 368px;
    height: 368px;
  }
}

.blur {
  width: 316px;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and (min-width: $min_tablet) {
    width: 368px;
  }
}

.arrow {
  display: none;
  position: absolute;
  bottom: 0;
  left: 777px;
  animation: arrow-move 3s infinite;
  transform-origin: top left;
  @media screen and (min-width: $min_desktop) {
    display: block;
  }
}
@keyframes arrow-move {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
