@import '/styles/main.scss';

.graph_wrapper {
  position: relative;
  @media all and (min-width: $min_tablet) {
    display: flex;
    justify-content: center;
  }
}

.graph {
  width: 328px;
  height: 413px;
  @media all and (min-width: $min_tablet) {
    width: 618px;
    height: 716px;
  }
}

.title {
  @include fontRegular(14px, 400, 19.6px, $main_text_color, center);
  @media all and (min-width: $min_tablet) {
    font-size: 18px;
    width: 587px;
    margin-inline: auto;
  }
}
