@import '/styles/main.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 163px;
  height: 48px;
  background-color: $auth_btn_bg_color;
  @include fontRegular(14px, 400, 119.6px, $main_text_color);
  border-radius: 30px;
  @media all and (min-width: $min_tablet) {
    width: 163px;
    height: 48px;
    font-size: 16px;
    background-color: $main_bg;
  }
}
