@import '/styles/main.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid $p_separators;
  border-radius: 8px;
  padding: 16px 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  @media all and (width >= $min_tablet) {
    padding: 16px;
    min-height: calc(100vh - 200px);
    justify-content: space-between;
  }
  @media all and (width >= $min_desktop) {
    width: 100%;
    padding: 32px;
  }
}

.form_inputs_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  @media all and (width >= $min_tablet) {
    gap: 32px;
    flex-direction: row;
  }
  @media all and (width >= $min_desktop) {
  }
}

.form_column1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media all and (width >= $min_tablet) {
    gap: 32px;
    width: 332px;
  }
}
