@import '/styles/main.scss';

.waiting_card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 205px;
  border-radius: 30px;
  background-image: linear-gradient(270deg, #cfb691 -135.76%, #000 102.98%);
  @media all and (min-width: $min_tablet) {
    height: 223px;
  }
  @media all and (min-width: $min_desktop) {
    height: 190px;
  }
}

.card_logo {
  width: 70px;
  height: 70px;
}

.video {
  width: 328px;
  height: 205px;
  border-radius: 30px;
  @media all and (min-width: $min_tablet) {
    height: 223px;
    width: 356px;
  }
  @media all and (min-width: $min_desktop) {
    height: 190px;
    width: 302px;
  }
}

.cover_wrapper {
  position: relative;
}

.discount {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background-color: red;
  border-radius: 50%;
}
