@import '/styles/main.scss';

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: $p_main_bg;
  @media all and (width >= $min_desktop) {
    width: 100%;
    height: 100vh;
  }
}
