@import '/styles/main.scss';

.main_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  @media all and (min-width: $min_tablet) {
    gap: 60px;
  }
}

.title {
  @include fontRegular(24px, 400, 30px, $main_text_color, center);
  & > span {
    color: $seconds_text_color;
  }
  @media all and (min-width: $min_tablet) {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    width: 624px;
  }
}

.logo {
  position: absolute;
  width: 120px;
  height: 120px;
  &1 {
    left: 0;
  }
  &2 {
    right: 0;
  }

  @media all and (min-width: $min_desktop) {
    width: 193px;
    height: 193px;
    top: 2%;
  }
  &1 {
    left: 3%;
  }
  &2 {
    right: 3%;
  }
}
