@import '/styles/main.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media all and (width >= $min_tablet) {
    gap: 24px;
  }
  @media all and (width >= $min_desktop) {
    flex-direction: row;
  }
}

.about {
  @include fontRegular(14px, 600, 22.4px, $main_text_color);
  text-wrap: auto;
  @media all and (width >= $min_desktop) {
    width: 625px;
    font-size: 16px;
  }
}

.list {
  display: flex;
  gap: 20px;
}

//checkboxes
.checkbox_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  @media all and (width >= $min_tablet) {
    gap: 12px;
  }
}
.checkbox_wrapper *,
.checkbox_wrapper *:after,
.checkbox_wrapper *:before {
  box-sizing: border-box;
}

.checkbox_wrapper input {
  position: absolute;
  opacity: 0;
  appearance: none;
}

.checkbox_wrapper input:checked + label svg path {
  stroke-dashoffset: 0;
}

.checkbox_wrapper input:focus + label {
  transform: scale(1.03);
}

.checkbox_wrapper input + label {
  display: flex;
  border: 2px solid $accent_v2;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;

  & > svg {
    width: 16px;
    height: 16px;
  }
}

.checkbox_wrapper input + label:active {
  transform: scale(1);
  border-radius: 8px;
}

.checkbox_wrapper input + label svg {
  pointer-events: none;
  padding: 8%;
}
.checkbox_wrapper input:checked + label svg {
  pointer-events: none;
  padding: 8%;
  background-color: $card_bg;
}

.checkbox_wrapper input + label svg path {
  fill: none;
  stroke: $third_text_color;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: all 250ms cubic-bezier(1, 0, 0.37, 0.91);
}

.text {
  @include fontRegular(14px, 400, 19.6px, $main_text_color);
  text-wrap: auto;
  @media all and (width >= $min_desktop) {
    font-size: 16px;
  }
}
