@import '/styles/main.scss';

.wrapper {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  @media all and (max-width: $min_tablet) {
    width: 328px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 28px;
  background-color: $form_bg;
  border-radius: 30px;
  padding: 24px 16px;

  @media all and (min-width: $min_tablet) {
    width: 458px;
    padding: 40px 24px;
    gap: 23px;
  }
}

.about_reset {
  @include fontRegular(14px, 400, 19.6px, $main_text_color, center);
  @media all and (min-width: $min_tablet) {
    font-size: 14px;
    text-wrap: balance;
  }
}

.labels_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label_text {
  @include fontRegular(12px, 400, 12px);
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  @include fontRegular(14px, 400, 19.6px);
  padding: 19px 42px 19px 16px;
  border: 1px solid $form_border;
  border-radius: 30px;
  background-color: transparent;
  outline: none;
}

.error {
  border-color: red;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 100%;
  border-radius: 30px;
  background: $buttons_color;
  @include fontRegular(16px, 600, 16px, $third_text_color);
  transition: all 250ms ease-in;
  @media (hover: hover) {
    &:is(:hover, :focus) {
      background-color: $card_bg;
      border: 1px solid $form_border;
    }
  }
  @media (hover: none) {
    &:is(:active, :focus) {
      background-color: $card_bg;
      border: 1px solid $form_border;
    }
  }
}

.link_to_registration {
  @include fontRegular(16px, 400, 22.4px, $main_text_color, center);
  & > a {
    color: $seconds_text_color;
    transition: all 250ms ease-in;
    @media all and (min-width: $min_tablet) {
      @media (hover: hover) {
        &:is(:hover, :focus) {
          color: $main_text_color;
        }
      }
      @media (hover: none) {
        &:is(:active, :focus) {
          color: $main_text_color;
        }
      }
    }
  }
}
