@import '/styles/main.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Колір заповнення скролбара */
  border-radius: 6px; /* Округлені кути заповнення скролбара */
}

a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 250ms ease;
  @media (hover: hover) {
    &:is(:hover, :focus) {
      scale: 1.05;
    }
  }
  @media (hover: none) {
    &:is(:active, :focus) {
      scale: 1.05;
    }
  }
}

a {
  cursor: pointer;
}
