@import '/styles/main.scss';

.text {
  @include fontRegular(14px, 400, 20px, $main_text_color);
  text-wrap: auto;
  white-space: pre-line;
  @media all and (width >= $min_desktop) {
    font-size: 16px;
  }
}
