@import '/styles/main.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  @include fontRegular(20px, 400, 20px);
  @media all and (width >= $min_desktop) {
    font-size: 24px;
  }
}

.text_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.text {
  @include fontRegular(14px, 400, 20px);
  @media all and (width >= $min_desktop) {
    font-size: 16px;
  }
}
