@import '/styles/main.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.date_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.date_label {
  @include fontRegular(12px, 500, 12px, $main_text_color);
}

.date_input {
  display: flex;
  height: 50px;
  padding: 24px 28px;
  align-items: center;
  @include fontRegular(12px, 500, 12px, $main_text_color);
  border-radius: 30px;
  border: 1px solid #7e7e7e;
  background-color: transparent;
  width: 328px;
  &::placeholder {
    @include fontRegular(16px, 400, 22.4px, $form_placeholder);
  }
  @media all and (min-width: $min_tablet) {
    width: 546px;
    height: 60px;
  }
  @media all and (min-width: $min_desktop) {
    width: 628px;
  }
}

.submit_btn {
  display: flex;
  width: 328px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: $buttons_color;
  @include fontRegular(16px, 600, 16px, $third_text_color);
  transition: all 250ms ease;
  &:is(:hover, :focus) {
    background-color: $buttons_hover_color;
  }
  @media all and (min-width: $min_tablet) {
    width: 356px;
    height: 60px;
    font-size: 18px;
  }
}

.error {
  font-size: 12px;
  @media all and (min-width: $min_tablet) {
    font-size: 14px;
  }
  @media all and (min-width: $min_desktop) {
    font-size: 16px;
  }
}
