@import '/styles/main.scss';

.main {
  position: relative;
  top: -24px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 40px 24px;
  border: 1px solid $dark_gold_dark;
  border-radius: 30px;
  box-shadow: 0 -4px 40px 0 rgba(207, 182, 145, 0.5);
  background: $main_bg;
  min-height: 100px;
  @media all and (width >= $min_tablet) {
    padding: 100px 32px;
    gap: 80px;
  }
  @media all and (width >= $min_desktop) {
    padding: 40px 80px;
    gap: 100px;
  }
}
