@import '/styles/main.scss';

.desktop_title_wrapper {
  display: none;
  @media all and (width >= $min_desktop) {
    display: block;
    height: 80px;
    border-bottom: 1px solid $form_border;
    padding: 24px;
  }
}

.title {
  @include fontRegular(24px, 400, 30px, $third_text_color);
}

.wrapper {
  display: flex;
  gap: 8px;
  @media all and (width >= $min_desktop) {
    padding: 0 32px;
  }
}

.link {
  @include fontRegular(16px, 400, 22.5px, $p_active_button);
  @media all and (width >= $min_tablet) {
    font-size: 18px;
  }
}

.divider {
  @include fontRegular(16px, 400, 22.5px, $p_active_button);
  @media all and (width >= $min_tablet) {
    font-size: 18px;
  }
}
