@import '/styles/main.scss';

.section {
  overflow: visible;
}

.container {
  position: relative;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  @media all and (min-width: $min_tablet) {
    margin-bottom: 48px;
  }
  @media all and (min-width: $min_desktop) {
    margin-bottom: 60px;
  }
}

.main_list {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 36px;
  @media all and (min-width: $min_tablet) {
    gap: 24px;
  }
  @media all and (min-width: $min_desktop) {
    flex-direction: row;
  }
}

.main_list_item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media all and (min-width: $min_tablet) {
    gap: 24px;
  }
  @media all and (min-width: $min_desktop) {
    width: (calc((100% - 24px) / 2));
  }
}

.inner_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media all and (min-width: $min_tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  @media all and (min-width: $min_desktop) {
  }
}

.inner_list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 24px;

  border-radius: 30px;
  background-color: #2e2e2e;
  width: 100%;
  &_gold {
    background-color: #cfb691;
  }
  &_light {
    background-color: #fdfdfd;
  }

  @media all and (min-width: $min_tablet) {
    padding: 51.5px 40px;
    &_gold {
      flex-direction: column;
      align-items: flex-start;
      width: calc((100% - 24px) / 2);
      padding: 41px 40px;
      height: 302px;
    }
    &_light {
      flex-direction: column;
      align-items: flex-start;
      width: calc((100% - 24px) / 2);
      height: 302px;
      padding: 41px 40px;
    }
  }
  @media all and (min-width: $min_desktop) {
    padding: 51.5px 34px;
    &_gold {
      padding: 41px 40px;
    }
    &_light {
      flex-direction: column;
      align-items: flex-start;
      width: calc((100% - 24px) / 2);
      height: 302px;
      padding: 41px 40px;
    }
  }
}

.text {
  @include fontRegular(14px, 600, 14px);
  width: 216px;
  &_dark {
    color: #2e2e2e;
  }
  @media all and (min-width: $min_tablet) {
    width: 100%;
    max-width: 506px;
    @include fontRegular(16px, 600, 16px);
    &_dark {
      color: #2e2e2e;
    }
  }
  @media all and (min-width: $min_desktop) {
    max-width: 409px;
  }
}

.icon {
  width: 40px;
  height: 40px;
  @media all and (min-width: $min_tablet) {
    width: 86px;
    height: 86px;
  }
  @media all and (min-width: $min_desktop) {
  }
}

.spot {
  display: none;
  @media all and (min-width: $min_tablet) {
    position: absolute;
    display: block;

    top: -10%;
    left: 0%;

    width: 227px;
    height: 287px;
    transform: rotate(-90deg);

    border-radius: 287px;
    background-image: linear-gradient(
      180deg,
      rgba(207, 182, 145, 0.4) 0%,
      rgba(207, 182, 145, 0.4) 45.14%
    );

    filter: blur(125px);
  }
  @media all and (min-width: $min_desktop) {
    left: 10%;
  }
}

.write_us_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 24px 28px;
  background-color: $card_bg_v2;
  border-radius: 30px;
  @media all and (min-width: $min_tablet) {
    padding: 30px 50px;
    align-items: center;
  }
  @media all and (min-width: $min_desktop) {
    flex-direction: row;
    padding: 24px;
  }
}

.write_us_text {
  @include fontRegular(16px, 400, 22.4px, $main_text_color, center);
  @media all and (min-width: $min_tablet) {
    font-size: 18px;
  }
}

.write_us_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 52px;
  background-color: $buttons_color;
  border-radius: 30px;
  @include fontRegular(16px, 600, 22.4px, $third_text_color);
  @media all and (min-width: $min_tablet) {
    width: 410px;
    height: 60px;
    font-size: 18px;
  }
  @media all and (min-width: $min_desktop) {
    flex-shrink: 0;
  }
}
