@import '/styles/main.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  @media all and (width >= $min_desktop) {
    gap: 8px;
  }
}

.name_text {
  @include fontRegular(14px, 600, 14px, $main_text_color);
  @media all and (width >= $min_tablet) {
    font-size: 20px;
  }
  @media all and (width >= $min_desktop) {
    font-size: 24px;
  }
}

.greeting {
  @include fontRegular(8px, 400, 8px, $main_text_color);
  @media all and (width >= $min_tablet) {
    font-size: 14px;
  }
  @media all and (width >= $min_desktop) {
    font-size: 16px;
  }
}
