@import '/styles/main.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $additional_bg;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  @media all and (width >= $min_tablet) {
    width: 60px;
    height: 60px;
  }
  @media all and (width >= $min_desktop) {
    width: 80px;
    height: 80px;
  }
}

.icon {
  width: 18px;
  height: 24px;
}
