@import '/styles/main.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  @media all and (width >= $min_desktop) {
    max-width: $min_desktop;
    margin-inline: auto;
  }
}
