@import '/styles/main.scss';

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px;
  width: 100%;
  background-color: #fdfdfd;
  min-height: calc(100vh - 65px);
  @media all and (width >= $min_tablet) {
    padding: 24px;
    gap: 32px;
  }
  @media all and (width >= $min_desktop) {
    padding: 0;
    overflow-y: auto;
    max-height: 100vh;
  }
}

.title_wrapper {
  display: none;
  @media all and (width >= $min_desktop) {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 24px;
    border-bottom: 1px solid $form_border;
  }
}

.title {
  @include fontRegular(24px, 400, 24px, $third_text_color);
}
