@import '/styles/main.scss';

.title {
  @include fontRegular(24px, 400, 30px, $main_text_color, center);
  margin-bottom: 48px;
  @media all and (min-width: $min_tablet) {
    font-size: 28px;
  }
}

.selector_wrapper {
  margin-bottom: 40px;
  @media all and (min-width: $min_tablet) {
    width: 546px;
    margin-inline: auto;
    margin-bottom: 60px;
  }
  @media all and (min-width: $min_desktop) {
    width: 628px;
  }
}
.selector_text {
  @include fontRegular(14px, 400, 19.6px, $main_text_color);
  margin-bottom: 8px;
  @media all and (min-width: $min_tablet) {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.chamoline_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  @media all and (min-width: $min_tablet) {
    gap: 48px;
  }
}

.chamoline_title {
  @include fontRegular(24px, 400, 30px);
  @media all and (min-width: $min_tablet) {
    font-size: 28px;
  }
}
.download_btn {
  width: 328px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  border-radius: 30px;
  background: $buttons_color;

  @include fontRegular(16px, 600, 16px, $third_text_color);
  @media all and (min-width: $min_tablet) {
    width: 556px;
    height: 60px;
    font-size: 18px;
  }
}
