@import '/styles/main.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  @media all and (min-width: $min_tablet) {
    gap: 60px;
  }
  @media all and (min-width: $min_desktop) {
    flex-direction: row;
    gap: 132px;
  }
}

.title {
  @include fontRegular(24px, 400, 24px, $main_text_color, center);
  @media all and (min-width: $min_tablet) {
    font-size: 36px;
  }
  @media all and (min-width: $min_desktop) {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 54px;
    align-items: center;
  }
}

.arrow {
  display: none;
  @media all and (min-width: $min_desktop) {
    display: block;
    width: 150px;
    height: 39px;
    text-align: center;
  }
}

//swiper

.swiper {
  padding-bottom: 30px !important;
  flex-grow: 1;
  max-width: 790px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 39px 48px;
  border-radius: 30px;
  border: 1px solid $buttons_color;
  background: #000;
  height: 180px;
  @media all and (min-width: $min_tablet) {
    padding: 39px 53px;
  }
  @media all and (min-width: $min_desktop) {
    width: 302px;
    padding: 39px 33px;
  }
}

.text {
  @include fontRegular(18px, 400, 25.2px, $main_text_color, center);
  @media all and (min-width: $min_desktop) {
  }
}

.button_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 193px;
  height: 45px;

  border-radius: 30px;
  background-color: $buttons_color;
  color: $third_text_color;
  transition: all 250ms ease;
  &:hover,
  &:focus {
    scale: 1.05;
    background-color: $buttons_hover_color;
  }
}
