@import '/styles/main.scss';

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-height: 1000px;
  padding: 16px 0px 60px;
  overflow: hidden;
  transition: all 0.5s ease;
  transform-origin: bottom;
  @media all and (width >= $min_tablet) {
    padding: 32px 0px 80px;
  }
  @media all and (width >= $min_desktop) {
    padding: 32px 0px 100px;
  }
}

.close {
  max-height: 1px;
  padding: 0;
}
