@import "/styles/main.scss";

.title {
  @include fontRegular(24px, 400, 24px);
  margin-bottom: 28px;

  @media screen and (min-width: $min_tablet) {
    @include fontRegular(28px, 400, 39.2px);
    margin-bottom: 40px;
  }
}

.topic_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 60px;
  @media screen and (min-width: $min_tablet) {
    margin-bottom: 80px;
  }
  @media screen and (min-width: $min_desktop) {
    flex-direction: row;
  }
}

.topic_container2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media screen and (min-width: $min_desktop) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 132px;
  }
}


.video {
  width: 328px;
  height: 182px;
  border-radius: 30px;
  @media screen and (min-width: $min_tablet) {
    width: 736px;
    height: 410px;
  }
  @media screen and (min-width: $min_desktop) {
    width: 628px;
    height: 350px;
  }
}

