@import '/styles/main.scss';

.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 8px;
  padding: 12px;
}

.initials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user_link {
  transition: all 250ms ease;
  @media (hover: hover) {
    &:is(:hover, :focus) {
      text-decoration: underline;
      color: $p_active_button;
    }
  }
  @media (hover: none) {
    &:is(:active, :focus) {
      text-decoration: underline;
      color: $p_active_button;
    }
  }
}

.banned {
  color: red;
}

.verified {
  color: rgb(13, 179, 63);
}

.to_delete {
  text-decoration: line-through;
}
