@import '/styles/main.scss';

.wrapper {
  position: relative;
  padding-bottom: 40px;
  @media all and (min-width: $min_tablet) {
    display: flex;
    justify-content: center;
  }
  @media all and (min-width: $min_desktop) {
    padding-bottom: 0px;
  }
}

.matrix {
  width: 328px;
  height: 328px;
  @media all and (min-width: $min_tablet) {
    width: 618px;
    height: 725px;
  }
}
