@import '/styles/main.scss';

//checkboxes

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4px;
  row-gap: 12px;
  margin-bottom: 40px;
  @media all and (min-width: $min_tablet) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    place-items: center;
    margin-bottom: 48px;
  }
  @media all and (min-width: $min_desktop) {
    width: 80%;
    margin-bottom: 60px;
  }
}

.checkbox_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  @media all and (min-width: $min_tablet) {
    gap: 12px;
  }
}
.checkbox_wrapper *,
.checkbox_wrapper *:after,
.checkbox_wrapper *:before {
  box-sizing: border-box;
}

.checkbox_wrapper input {
  position: absolute;
  opacity: 0;
  appearance: none;
}

.checkbox_wrapper input:checked + label svg path {
  stroke-dashoffset: 0;
}

.checkbox_wrapper input:focus + label {
  transform: scale(1.03);
}

.checkbox_wrapper input + label {
  display: flex;
  border: 1px solid $main_text_color;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
  & > svg {
    width: 22px;
    height: 22px;
  }
}

.checkbox_wrapper input + label:active {
  transform: scale(1.05);
  border-radius: 12px;
}

.checkbox_wrapper input + label svg {
  pointer-events: none;
  padding: 10%;
}

.checkbox_wrapper input + label svg path {
  fill: none;
  stroke: $main_text_color;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 250ms cubic-bezier(1, 0, 0.37, 0.91);
}

.text {
  @include fontRegular(14px, 400, 19.6px);
  text-wrap: balance;
  @media all and (min-width: $min_tablet) {
    @include fontRegular(16px, 400, 22.4px);
  }
}

//courses list

.courses_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;
  @media all and (min-width: $min_tablet) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 52px;
  }
  @media all and (min-width: $min_desktop) {
    row-gap: 87px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.courses_list_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
