@import "/styles/main.scss";

.inner_topic_container {
  position: relative;
  @media screen and (min-width: $min_desktop) {
    display: flex;
    flex-direction: column;
  }
}

.title {
  @include fontRegular(24px, 400, 24px);
  margin-bottom: 28px;

  @media screen and (min-width: $min_tablet) {
    @include fontRegular(28px, 400, 39.2px);
    margin-bottom: 40px;
  }
}

.link {
  position: relative;
  z-index: 2;
  display: flex;
  width: 328px;
  align-items: center;

  padding: 12px 0px 12px 20px;
  gap: 16px;

  border-radius: 30px;

  background-color: #000;
  @include fontRegular(24px, 400, 24px);
  transition: scale 350ms ease;
  &:hover,
  &:focus {
    scale: 1.05;
  }
  @media screen and (min-width: $min_tablet) {
    width: 356px;
    @include fontRegular(32px, 400, 32px);
  }
}

.icon {
  width: 24px;
  height: 24px;
  fill: $buttons_color;
  @media screen and (min-width: $min_tablet) {
    width: 48px;
    height: 48px;
  }
}

.spot {
  display: none;
  @media screen and (min-width: $min_desktop) {
    position: absolute;
    display: block;

    top: -18%;
    left: 35%;

    width: 201px;
    height: 260px;

    border-radius: 280px;
    background-image: linear-gradient(
      180deg,
      rgba(207, 182, 145, 0.4) 7%,
      rgba(207, 182, 145, 0.4) 45.14%
    );

    filter: blur(105px);
  }
}
