@import '/styles/main.scss';

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  width: 100%;
  flex-grow: 2;
  @media all and (width >= $min_desktop) {
    width: 265px;
  }
}

.link {
  display: flex;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  @include fontRegular(16px, 400, 22.4px, $p_second_text_color);
  transition: all 250ms ease;
  &_active {
    background-color: $p_button_bg;
    color: $p_third_text_color;
  }
  @media (hover: hover) {
    &:is(:hover, :focus) {
      scale: 1.05;
    }
  }
  @media (hover: none) {
    &:is(:active, :focus) {
      scale: 1.05;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
  fill: $p_second_text_color;
  &_active {
    fill: $p_third_text_color;
  }
}
