@import '/styles/main.scss';

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
}
