@import '/styles/main.scss';

.wrapper {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.body {
  display: grid;
  grid-template-columns: 1fr;

  @media all and (width >= $min_desktop) {
    grid-template-columns: 304px 1fr 304px;
  }
}

.main {
  overflow: auto;
}
