@import '/styles/main.scss';

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  @media all and (width >= $min_tablet) {
    display: grid;
    grid-template-columns: repeat(3, minmax(232px, 1fr));
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $p_border;
  border-radius: 8px;
  padding: 16px;
  height: 95px;
  box-shadow: 0 4px 20px 0 rgba(238, 238, 238, 0.5);
  @media all and (width >= $min_tablet) {
    height: 118px;
  }
}

.manage_wrapper {
  display: flex;
  justify-content: space-between;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 28px;
  width: min-content;
  padding: 0px 12px;
  @include fontRegular(14px, 400, 19.6px);
  &_PUBLISHED {
    background-color: #e3fbe8;
    border: 1px solid #d1efd7;
    color: #11491c;
  }
  &_HIDDEN {
    background-color: #f6f6f6;
    border: 1px solid #ecebeb;
    color: #393939;
  }
  &_DRAFT {
    background-color: #e0ebff;
    border: 1px solid #cfdbf0;
    color: #163b90;
  }
}

.edit_button {
  transition: all 250ms linear;
  @media (hover: hover) {
    &:is(:hover, :focus) {
      scale: 1.05;
    }
  }
  @media (hover: none) {
    &:is(:active, :focus) {
      scale: 1.05;
    }
  }
}

.name {
  @include fontRegular(16px, 400, 22.4px, $third_text_color);
}
