@import '/styles/main.scss';

.wrapper {
  @media screen and (min-width: $min_desktop) {
    width: 618px;
  }
}

.date_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.date_title {
  text-align: center;
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(28px, 400, 39.2px);
    font-size: 28px !important;
    line-height: 39.2px !important;
  }
}

.date {
  @include fontRegular(18px, 400, 25.2px, $seconds_text_color);
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 25.2px !important;
  color: $seconds_text_color;
}

.graph_wrapper {
  position: relative;

  @media screen and (min-width: $min_tablet) {
    display: flex;
    justify-content: center;
  }
}

.graph {
  width: 328px;
  height: 413px;
  @media screen and (min-width: $min_tablet) {
    width: 618px;
    height: 716px;
  }
}

.health_sqr {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  @include fontRegular(10px, 700, 28px, $seconds_text_color);
  &_innerTopLeft {
    top: 34.2%;
    left: 31%;
  }
  &_innerTopRight {
    top: 34.2%;
    right: 30%;
  }
  &_innerBottomRight {
    bottom: 34.7%;
    right: 30%;
  }
  &_innerBottomLeft {
    bottom: 34.7%;
    left: 31%;
  }
  @media screen and (min-width: $min_tablet) {
    width: 30px;
    font-size: 16px;
    &_innerTopLeft {
      top: 33.9%;
      left: 35.1%;
    }
    &_innerTopRight {
      top: 34%;
      right: 34.2%;
    }
    &_innerBottomRight {
      bottom: 33%;
      right: 34.2%;
    }
    &_innerBottomLeft {
      bottom: 33%;
      left: 35%;
    }
  }
  @media screen and (min-width: $min_desktop) {
    width: 30px;
    font-size: 16px;
    &_innerTopLeft {
      top: 33.9%;
      left: 32.4%;
    }
    &_innerTopRight {
      top: 33.9%;
      right: 31.2%;
    }
    &_innerBottomRight {
      bottom: 33%;
      right: 31.2%;
    }
    &_innerBottomLeft {
      bottom: 33%;
      left: 32.3%;
    }
  }
}
