@import '/styles/main.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  @media all and (width >= $min_desktop) {
    max-width: $min_desktop;
    justify-content: center;
  }
}
