//colors
$section_color: #101010;
$main_bg: #101010;
$main_text_color: #fdfdfd;
$seconds_text_color: #cfb691;
$third_text_color: #101010;
$buttons_color: #cfb691;
$buttons_hover_color: #FDFDFD;
$black: #000000;
$form_placeholder: #ababab;
$additional_bg: #cfb691;
$under_photo_gradient: linear-gradient(
  180deg,
  #cfb691 -33.5%,
  rgba(0, 0, 0, 0) 117.06%
);
$dropdown_bg: #1f1f1f;
$card_bg: #fdfdfd;
$card_bg_v2: #2e2e2e;
$accent_v2: #cfb691;
$matrix_bg_gradient: linear-gradient(270deg, #cfb691 -135.76%, #000 102.98%);

//sizes

$min_mobile: 360px;
$min_tablet: 768px;
$big_pc: 1440px;
$mac: 1312px;
$min_desktop: 1280px;

//font sizes
