//colors
$section_color: #101010;
$main_bg: #101010;
$main_text_color: #fdfdfd;
$seconds_text_color: #cfb691;
$third_text_color: #101010;
$buttons_color: #cfb691;
$buttons_hover_color: #fdfdfd;
$black: #000000;
$form_placeholder: #ababab;
$additional_bg: #cfb691;
$under_photo_gradient: linear-gradient(180deg, #cfb691 -33.5%, rgba(0, 0, 0, 0) 117.06%);
$dropdown_bg: #1f1f1f;
$card_bg: #fdfdfd;
$card_bg_v2: #2e2e2e;
$accent_v2: #cfb691;
$matrix_bg_gradient: linear-gradient(270deg, #cfb691 -135.76%, #000 102.98%);
$matrix_table_border: #7e7e7e;
$tips_bg: #393939;
$active_key: #1f1f1f;
$modal_layout: rgba(0, 0, 0, 0.6);
$modal_bg: #131313;
$form_bg: #1f1f1f;
$form_border: #7e7e7e;
$auth_btn_bg_color: #1f1f1f;

//platform_colors
$p_button_bg: #4880ff;
$p_main_bg: #fdfdfd; //--gray-100
$p_second_text_color: #7e7e7e; //--gray-700
$p_third_text_color: #fdfdfd;
$p_border: #e8e8e8; //--gray-200
$p_active_button: #2961e0; //--blue
$p_admin_main_bg: #f9f7f7;
$p_nav_bg: #e3e3e3; //--light-buttom-stroke-gray
$p_header_title_border: #6c6c6c; //--dark-grey
$p_btn_border: #e3e3e3;
$p_separators: #c2c2c2; //--separators
$light_table_header_gray: #e6e6e6;
$field_name_color: #454545; //--black-100
$dark_gold_light: #ecdbc3;

//sizes
$min_mobile: 360px;
$min_tablet: 768px;
$big_pc: 1440px;
$mac: 1312px;
$min_desktop: 1280px;

//font sizes
