@import '/styles/main.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3;
  justify-self: end;
  width: 32px;
  height: 32px;
  background-color: $buttons_color;
  border-radius: 8px;
  @media all and (width >= $min_desktop) {
    width: 44px;
    height: 44px;
  }
  & > svg {
    width: 16px;
    height: 17px;
  }
}
