@import '/styles/main.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  @include fontRegular(16px, 400, 22.5px, $third_text_color);
}

.actions_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.add_link {
  @include fontRegular(14px, 600, 19.6px);
  @include buttonsDefault();
  width: 154px;
  height: 44px;
  background-color: $p_active_button;
  border: none;
  gap: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  & > svg {
    width: 16px;
    height: 16px;
  }
}
