@import '/styles/main.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media all and (width >= $min_tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  @media all and (width >= $min_tablet) {
    padding: 0 24px;
  }
}

.title {
  @include fontRegular(16px, 400, 22.5px, $p_active_button);
  @media all and (width >= $min_tablet) {
    font-size: 18px;
  }
}

.actions_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  @media all and (width >= $min_tablet) {
    gap: 16px;
  }
}

.add_link {
  @include fontRegular(14px, 600, 19.6px);
  @include buttonsDefault();
  width: 154px;
  height: 44px;
  background-color: $p_active_button;
  border: none;
  gap: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  & > svg {
    width: 16px;
    height: 16px;
  }
  @media all and (width >= $min_tablet) {
    order: 2;
  }
}

.delete_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  border: 0.5px solid $p_btn_border;
  & > svg {
    width: 20px;
    height: 20px;
  }
  @media all and (width >= $min_tablet) {
    order: 3;
  }
}
