@import '/styles/main.scss';

.graph_wrapper {
  position: relative;
  @media all and (min-width: $min_tablet) {
    display: flex;
    justify-content: center;
  }
}

.graph {
  width: 328px;
  height: 413px;
  @media all and (min-width: $min_tablet) {
    width: 618px;
    height: 716px;
  }
}